@import '../../../globals/style.scss';
.error{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
}

// Learned how to center the circle from here: https://stackoverflow.com/questions/35870196/materiall-ui-refresh-indicator-center-align-horizontaly
.waitMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
}

.waitIcon{ 
    margin-top: 5%;
}